# Data processing
numpy
pandas
pyarrow
scikit-learn

# Image processing
Pillow
opencv-python
mediapipe==0.10.21

# Deep learning
torch
torchvision

# Dataset download
huggingface_hub

# Training utilities
tqdm
matplotlib

# Jupyter / experimentation (optional but useful)
jupyter
ipykernel